.profilepic {
	max-width:100%;
	padding-bottom:10px;
}
.card {
	margin-top:5px;
	margin-bottom:5px
}
.icon-padding {
	padding-left:15px;
	padding-right:15px;
}
.social-icon:hover {
	text-decoration: none;
	color: hotpink;
}
body {
	background-image: url("../img/solarbg.jpg");
	background-size: cover;
}

.fake-card{
	border:1px solid grey;
	background-color: white;
	border-radius: 5px;
	padding: 20px;
}